<!doctype html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <title>Level Editor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='client/style/game.css'/>
  <script src='client/js/phaser.min.js'></script>
  <script src='client/js/socket.io.js'></script>
  <script src='client/js/panel.js'></script>
  <script src='client/poly/js/poly.js'></script>
  <script src='client/poly/js/game.js'></script>
</head>

<body>

<div id="game"></div>

<script src='client/poly/js/boot.js'></script>

</body>

</html>